
   
 <h2>Welcome to ToDo Application</h2>
  
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="#">Admin</a>
    </div>
    <ul class="nav navbar-nav">
           <li role="presentation"><a role="menuitem" ui-sref=".managetasks" >Manage Tasks</a></li>
      
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a role="menuitem" ui-sref=".viewtasks">View Tasks</a></li>
   
    </ul>
</nav>
  
  <div ui-view=""></div>
 
  