<!DOCTYPE html>

<html lang="en" ng-app="crudApp">
    <head>
     <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>${title}</title>
        <link href="css/bootstrap.min.css" rel="stylesheet"/>
        
        <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
        <link href="css/app.css" rel="stylesheet"/>
      
    </head>
    <body>

        <div class="container" ui-view=""></div>
        
        <script src="js/lib/jquery.js" ></script>
        <script src="js/lib/bootstrap.min.js" ></script>
        <script src="js/lib/bootstrap-datetimepicker.min.js" ></script>
        <script src="js/lib/angular.min.js" ></script>
        <script src="js/lib/angular-ui-router.min.js" ></script>
        <script src="js/lib/localforage.min.js" ></script>
        <script src="js/lib/ngStorage.min.js"></script>
        <script src="js/app/app.js"></script>
        <script src="js/app/TaskController.js"></script>
        <script src="js/app/TaskService.js"></script>
    </body>
    
</html>